#container {
    width: 50%;
    margin: 30px auto;
    border: 1px solid #000;
    background-color: aqua;
}
h1 {
    text-align: center;
}
#form {
    border: 1px solid #000;
    padding: 20px; /* espaçamento interno */
    margin: 20px; /* espaçamento externo */
}
div {
    margin-bottom: 10px;
}



ul {
    list-style: none;
}
li {
    margin-bottom: 20px;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: #00F;
}
a:hover {
	text-decoration: underline;
	color: #f00
}
