
#areaTotal {
    width: 50%;
    margin: 30px auto; /* centraliza o elemento na largura - automático à esquerda e direita */  
    border: 1px solid #000; /* red green blue - RGB */
    background-color: aqua;
}

#areaPeso, #areaAltura, #areaBotao, h1, #areaResposta {
    padding-left: 30px;
}

#areaPeso, #areaAltura, #areaBotao, #areaResposta {
    /* border: 1px solid #000; /* red green blue - RGB */
    margin-bottom: 40px;
}